*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
#nav-bar{
    width: 100%;
    height: 14vh;
    /* background-color: yellow; */
    text-align: center;
}
#nav-bar ul{
    display: inline-block;
    /* border: 2px solid red; */
    width: 100%;
}
#nav-bar ul li{ 
    display: inline-block;
}
#nav-bar ul .list-item{ 
    /* border: 2px solid red; */
    margin: 1em 0.5em 0em 0em;
    padding: 0.7em 1.1em;
    font-size: 1.1em;
}
#nav-bar ul #li1{
    margin-right: 2em ;
    margin-left: 0.5em ;
    color:rgb(170, 124, 214);
}
#nav-bar ul #li9{
    margin-left: 37.5em ;
}
#nav-bar ul li:hover{
    cursor: pointer;
    color: rgb(130, 73, 183);
}
#nav-bar ul li:active{
    cursor: pointer;
    color: rgb(130, 73, 183);
    border: 3px solid  rgb(130, 195, 216);
}
#nav-bar ul #li1:hover{
    color: yellowgreen;
}
#nav-bar ul #li1,#li9:active{
    border-radius: 20%;
}
#box{
    width: 72%;
    height: 13vh;
    background-color: hwb(16 31% 2%);
    margin: auto;
    border-radius: 15px;
    position: relative;
}
#box #small-box-1,#small-box-2{
    display: inline-block;
    margin-top: 2em;
    font-size: 1.1em;
    /* border: 2px solid white; */
    /* padding: 2em; */
}
#box #small-box-1{
    position: absolute;
    right: 20em;
}
#box #small-box-1 span{
    color: white;
    font-weight: 100;

}
#box #small-box-1 i{
    font-size: 2em;
    position: absolute;
    right: 19em;
    bottom: 0px;
    color: rgb(89, 4, 89);
}
#box #small-box-2{
    background-color: white;
    color: black ;
    position: absolute;
    right: 2em;
    bottom: 1em;
    padding: 0.8em 1em 0.8em 1em;
    border: 2px solid black;
    border-radius: 10px;
    font-weight: bold;
    border-bottom-width: 0.4em;
    border-bottom-right-radius:15px ;
    border-bottom-left-radius:15px ;

}
#box #small-box-2 span{
    color: black;
    font-weight: 100;
}
#box #small-box-2 i{
    margin-right: 0.5em;
    font-size: 1.2em;
    color: rgb(89, 4, 89);

}




